* {
    margin: 0;
    padding: 0;
}

/*
*
*
Estilo para o conteúdo do nosso site
*
*
*/

html,body {
    height: 100%;
}

.center {
    box-sizing: border-box;
    width: 950px;
    margin: 0 auto;
    background: gray;
}

.artigo {
    vertical-align: top;
    display: inline-block;
    width: 465px;       
    margin-top: 20px;
    margin-right: -4px;
    margin-left: 9px;
/*  width: 430px;
    Margin: 10px 21px;  */
}