* {
    margin: 0;
    padding: 0;
}

/*
*
*
Estilo para o conteúdo do nosso site
*
*
*/

html,body {
    height: 100%;
}

.center {
    box-sizing: border-box;
    width: 950px;
    margin: 0 auto;
    padding: 30px 30px 30px 30px;
    background: gray;
}

.artigo {
    width: 100%;
    margin-bottom: 15px;
}